
$bg_color:rgb(11, 19, 21); 
$bg_color_secondary: rgb(6, 12, 12); 
$gold_text:rgb(255, 222, 159);
$gold_text_hover: rgb(245, 187, 80);

$form-check-input-checked-color:rgb(255, 222, 159); 

//img plate list 170x170 
